In [0]:
# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split

# Helper libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
!javac -cp opencsv-5.1.jar *.java

Note: DataPreprocessor.java uses unchecked or unsafe operations.
Note: Recompile with -Xlint:unchecked for details.

In [0]:
!java -cp ./drive/'My Drive'/apache/* DataPreprocessor train.csv train_modified.csv

In [0]:
all_data = pd.read_csv('train_modified.csv')

In [48]:
target = "SURVIVED"
features = all_data.columns.drop([target, "PASSENGERID"])
features

Index(['AGE', 'FAMILYSIZE', 'FARE', 'PCLASS', 'SEX'], dtype='object')

In [50]:
train, test = train_test_split(all_data, test_size=0.01)
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]
X_train.head()

      AGE  FAMILYSIZE     FARE  PCLASS  SEX
787  45.0         1.0  26.5500     1.0  1.0
45   24.0         5.0  25.4667     3.0 -1.0
649  34.0         1.0  10.5000     2.0 -1.0
88   24.0         2.0  16.1000     3.0 -1.0
229   8.0         3.0  36.7500     2.0  1.0

In [0]:
# some simple model
model = keras.models.Sequential()
model.add(keras.layers.Dense(64, activation='relu', input_shape=(features.size,)))
model.add(keras.layers.Dense(128, activation='relu'))
model.add(keras.layers.Dense(64, activation='relu'))
model.add(keras.layers.Dense(1, activation='sigmoid'))

In [0]:
model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [0]:
# making pandas Dataframes work properly with keras models
X_train = np.asarray(X_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)
y_test = np.asarray(y_test).astype(np.float32)

In [59]:
model.fit(X_train,tf.stack(y_train), epochs=20)

Epoch 1/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4382 - accuracy: 0.8141
Epoch 2/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4394 - accuracy: 0.8016
Epoch 3/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4396 - accuracy: 0.8061
Epoch 4/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4309 - accuracy: 0.8061
Epoch 5/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4367 - accuracy: 0.8027
Epoch 6/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4305 - accuracy: 0.8084
Epoch 7/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4266 - accuracy: 0.8095
Epoch 8/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4260 - accuracy: 0.8209
Epoch 9/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4275 - accuracy: 0.8129
Epoch 10/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4267 - accuracy: 0.8118
Epoch 11/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4323 - accuracy: 0.8197
Epoch 12/20
28/28 [==============================] - 0s 2ms/step - loss: 0.4179 - accuracy: 0.8095
Epoch 13/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4225 - accuracy: 0.8231
Epoch 14/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4137 - accuracy: 0.8152
Epoch 15/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4149 - accuracy: 0.8039
Epoch 16/20
28/28 [==============================] - 0s 2ms/step - loss: 0.4192 - accuracy: 0.8118
Epoch 17/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4238 - accuracy: 0.8095
Epoch 18/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4168 - accuracy: 0.8311
Epoch 19/20
28/28 [==============================] - 0s 2ms/step - loss: 0.4138 - accuracy: 0.8231
Epoch 20/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4149 - accuracy: 0.8277

In [60]:
test_loss, test_acc = model.evaluate(X_test,  y_test, verbose=2)

print('\nTest accuracy:', test_acc)
#it was 0.7 in kaggle

1/1 - 0s - loss: 0.2684 - accuracy: 0.8889

Test accuracy: 0.8888888955116272

In [0]:
model.save(filepath='drive/My Drive/Colab Notebooks/model.h5')