In [0]:
# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split

# Helper libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
def median_age(data,Pclass):
  med_age = round(data["Age"][data["Pclass"]==Pclass].median())
  return med_age

In [0]:
all_data = pd.read_csv('train.csv')

In [0]:
all_changed_data =  all_data.copy(True)

all_changed_data.loc[(all_changed_data.Age.isnull()) & (all_changed_data.Fare == 0), "Age"] = 0
for i in [1,2,3]:
    all_changed_data.loc[(all_changed_data.Age.isnull()) & (all_changed_data["Pclass"] == i), "Age"] = median_age(all_changed_data,i)

all_changed_data['Survived'] = all_data['Survived']

all_changed_data.loc[(all_changed_data.Sex == "male", "Sex")]=1
all_changed_data.loc[(all_changed_data.Sex == "female", "Sex")]=-1

all_changed_data["FamilySize"] = 1+all_changed_data["SibSp"]+all_changed_data["Parch"]
all_changed_data = all_changed_data.drop(['PassengerId', 'Name', 'Ticket','SibSp','Parch', 'Cabin', 'Embarked'], axis = 1)

In [14]:
target = "Survived"
features = ["Pclass", "Sex","FamilySize","Fare", "Age"]
train, test = train_test_split(all_changed_data, test_size=0.01)
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]
X_train.head()

     Pclass Sex  FamilySize     Fare   Age
466       2   1           1   0.0000   0.0
181       2   1           1  15.0500  29.0
38        3  -1           3  18.0000  18.0
97        1   1           2  63.3583  23.0
586       2   1           1  15.0000  47.0

In [0]:
x = keras.Input(shape=(5,), name='input')
a = keras.layers.Dense(128, activation='relu')(x)
b = keras.layers.Dense(128, activation='relu')(a)
y = keras.layers.Dense(2)(b)
model = keras.Model(x, y)

In [0]:
model.compile(optimizer='adam',
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True),
              metrics=['accuracy'])

In [0]:
X_train = np.asarray(X_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)
y_test = np.asarray(y_test).astype(np.float32)

In [63]:
model.fit(X_train,tf.stack(y_train), epochs=20)

Epoch 1/20
28/28 [==============================] - 0s 1ms/step - loss: 1.3117 - accuracy: 0.6054
Epoch 2/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6204 - accuracy: 0.6803
Epoch 3/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5870 - accuracy: 0.7029
Epoch 4/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6125 - accuracy: 0.7075
Epoch 5/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5673 - accuracy: 0.7302
Epoch 6/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5373 - accuracy: 0.7449
Epoch 7/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5065 - accuracy: 0.7721
Epoch 8/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5094 - accuracy: 0.7664
Epoch 9/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4979 - accuracy: 0.7698
Epoch 10/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4749 - accuracy: 0.7914
Epoch 11/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4816 - accuracy: 0.7710
Epoch 12/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4884 - accuracy: 0.7959
Epoch 13/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4551 - accuracy: 0.7891
Epoch 14/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4647 - accuracy: 0.7937
Epoch 15/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4812 - accuracy: 0.7755
Epoch 16/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4598 - accuracy: 0.7937
Epoch 17/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4841 - accuracy: 0.7755
Epoch 18/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4623 - accuracy: 0.7902
Epoch 19/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5016 - accuracy: 0.7846
Epoch 20/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4544 - accuracy: 0.7982

In [64]:
test_loss, test_acc = model.evaluate(X_test,  y_test, verbose=2)

print('\nTest accuracy:', test_acc)

1/1 - 0s - loss: 0.3971 - accuracy: 0.8889

Test accuracy: 0.8888888955116272

In [65]:
model.save(filepath='drive/My Drive/Colab Notebooks/model.h5', include_optimizer=False, save_format='h5')

INFO:tensorflow:Assets written to: drive/My Drive/Colab Notebooks/model/assets