In [0]:
# TensorFlow and tf.keras
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split

# Helper libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

def median_age(data,Pclass):
  med_age = round(data["Age"][data["Pclass"]==Pclass].median())
  return med_age
def modify_all_data(data)
  all_changed_data =  data.copy(True)
  all_changed_data.loc[(all_changed_data.Age.isnull()) & (all_changed_data.Fare == 0), "Age"] = 0
  for i in [1,2,3]:
      all_changed_data.loc[(all_changed_data.Age.isnull()) & (all_changed_data["Pclass"] == i), "Age"] = median_age(all_changed_data,i)

  all_changed_data['Survived'] = data['Survived']

  all_changed_data.loc[(all_changed_data.Sex == "male", "Sex")]=1
  all_changed_data.loc[(all_changed_data.Sex == "female", "Sex")]=-1

  all_changed_data["FamilySize"] = 1+all_changed_data["SibSp"]+all_changed_data["Parch"]
  all_changed_data = all_changed_data.drop(['PassengerId', 'Name', 'Ticket','SibSp','Parch', 'Cabin', 'Embarked'], axis = 1)
  return all_changed_data

In [0]:
all_data = pd.read_csv('train.csv')

In [0]:
changed_data = modify_all_data(all_data)

In [0]:
target = "Survived"
features = ["Pclass", "Sex","FamilySize","Fare", "Age"]
train, test = train_test_split(changed_data, test_size=0.01)
X_train = train[features]
y_train = train[target]
X_test = test[features]
y_test = test[target]
X_train.head()

     Pclass Sex  FamilySize     Fare   Age
466       2   1           1   0.0000   0.0
181       2   1           1  15.0500  29.0
38        3  -1           3  18.0000  18.0
97        1   1           2  63.3583  23.0
586       2   1           1  15.0000  47.0

In [0]:
# some simple model
model = keras.models.Sequential()
model.add(keras.layers.Dense(64, activation='relu', input_shape=(5,)))
model.add(keras.layers.Dense(128, activation='relu'))
model.add(keras.layers.Dense(64, activation='relu'))
model.add(keras.layers.Dense(1, activation='sigmoid'))

In [0]:
model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [0]:
# making pandas Dataframes work properly with keras models
X_train = np.asarray(X_train).astype(np.float32)
y_train = np.asarray(y_train).astype(np.float32)
X_test = np.asarray(X_test).astype(np.float32)
y_test = np.asarray(y_test).astype(np.float32)

In [0]:
model.fit(X_train,tf.stack(y_train), epochs=20)

Epoch 1/20
28/28 [==============================] - 0s 1ms/step - loss: 0.7399 - accuracy: 0.6610
Epoch 2/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6212 - accuracy: 0.6825
Epoch 3/20
28/28 [==============================] - 0s 2ms/step - loss: 0.6397 - accuracy: 0.6939
Epoch 4/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5572 - accuracy: 0.7166
Epoch 5/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5688 - accuracy: 0.7302
Epoch 6/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5351 - accuracy: 0.7313
Epoch 7/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5501 - accuracy: 0.7574
Epoch 8/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5153 - accuracy: 0.7540
Epoch 9/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5256 - accuracy: 0.7687
Epoch 10/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5178 - accuracy: 0.7676
Epoch 11/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5110 - accuracy: 0.7766
Epoch 12/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4878 - accuracy: 0.7812
Epoch 13/20
28/28 [==============================] - 0s 2ms/step - loss: 0.4963 - accuracy: 0.7925
Epoch 14/20
28/28 [==============================] - 0s 1ms/step - loss: 0.5082 - accuracy: 0.7778
Epoch 15/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4915 - accuracy: 0.7812
Epoch 16/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4860 - accuracy: 0.7789
Epoch 17/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4947 - accuracy: 0.7766
Epoch 18/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4801 - accuracy: 0.7857
Epoch 19/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4636 - accuracy: 0.7812
Epoch 20/20
28/28 [==============================] - 0s 1ms/step - loss: 0.4720 - accuracy: 0.7800

In [0]:
test_loss, test_acc = model.evaluate(X_test,  y_test, verbose=2)

print('\nTest accuracy:', test_acc)
#it was 0.7 in kaggle

1/1 - 0s - loss: 0.4998 - accuracy: 0.8889

Test accuracy: 0.8888888955116272

In [0]:
model.save(filepath='drive/My Drive/Colab Notebooks/model.h5')